doctype html
html(lang='pt-br')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Conteudos
    link(rel='stylesheet', href='/stylesheets/styleView.css')
  body
    #fade.hide
    #modal.hide
      .modal-header
        h2(style='color: #ED1F30;') Atualizar conteudo
        button#close-modal(style='color: black; background-color: transparent') X
      .modal-body
        div
        p=msg
        form#form(action='/conteudo/update' method='POST')
          input.inputs(name="nomedisciplina" type='text' value='' placeholder='Insira o nome do conteudo')
          input#inputB(type='submit' value='atualizar')
    each conteudo in conteudos
      #cardConteudo
        #tituloD
          p#nomedisciplina=conteudo.nomedisciplina
        #c1
          input#t1(type='checkbox' name='interest' value='t1') 
          label(for='t1') 
            p#conteudo1=conteudo.conteudo1
        #c2
          input#t2(type='checkbox' name='interest' value='t2')
          label(for='t2') 
            p#conteudo2=conteudo.conteudo2
        #c3
          input#t3(type='checkbox' name='interest' value='t3')
          label(for='t3') 
            p#conteudo3=conteudo.conteudo3
        #c4
          input#t4(type='checkbox' name='interest' value='t4')
          label(for='t4') 
            p#conteudo4=conteudo.conteudo4
        #div11
          button#open-modal ATUALIZAR
          a(href=conteudo.url+'/delete')
            button REMOVER
          a(href='/portugues')
            button#open-modal VOLTAR
    script(src='/javascripts/script.js')